/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$link-color: #202020 !default; 
$primary-color: #699DD1 !default;

.page__title{
   color: $link-color;
 }